.resume-bottom-section {
  background-color: light-dark(
    var(--light-bottom-container-color),
    var(--dark-bottom-container-color)
  );
  display: flex;
  gap: 20px;
  flex: 1;
  width: 100%;
  padding: 20px;
  min-height: 0;
  flex-wrap: wrap;
}
