.item-selector-panel {
  align-self: center;
  width: 1024px;
  background-color: light-dark(
    var(--light-container-color-alt),
    var(--dark-container-color-alt)
  );
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
}

.item-selector-panel-title {
  justify-self: center;
  cursor: pointer;
  display: block;
  font-size: var(--h1-font-size);
  margin-top: 20px;
  padding: 10px;
}

.item-selector-groups {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
}

@media (max-width: 1280px) {
  .item-selector-panel {
    width: 85%;
  }
  .item-selector-groups {
    flex-wrap: wrap;
    justify-content: center;
  }
}
