.round-div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.round-container {
  padding-right: 1rem;
}

.round,
.hidden-round {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 0.38rem;
  margin-left: 0.38rem;
}

.round {
  background-color: var(--text-color);
}

.hidden-round {
  background-color: transparent;
}

.round-children {
  width: 100%;
}
