.round-div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.round-container {
  padding-right: 1rem;
}

.round,
.hidden-round {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 0.38rem;
  margin-left: 0.38rem;
}

.round {
  background-color: var(--text-color);
}

.hidden-round {
  background-color: transparent;
}

.round-children {
  width: 100%;
}

@media (max-width: 1024px) {
  .round {
    background-color: transparent;
  }
  .round-div {
    justify-content: center;
  }
  .round-children {
    width: 600px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .round-children {
    width: 350px;
  }
}

@media (max-width: 640px) {
  .round-children {
    width: 280px;
  }
}
