* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.main-container {
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  background-color: light-dark(
    var(--light-background-color),
    var(--dark-background-color)
  );
}

.resume-section {
  width: calc(1024px - 2 * 3rem);
  height: calc((1024px - 2 * 3rem) / 0.707);
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
  position: relative;
  flex-shrink: 0;
}

body {
  font-family: var(--body-font);
  font-weight: var(--font-medium);
}

h1 {
  font-size: var(--h1-font-size);
  margin-top: 20px;
}

h2 {
  font-size: var(--h2-font-size);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  margin-bottom: var(--margin-1);
  margin-top: 10px;
}

h3 {
  font-size: var(--h3-font-size);
}

h1,
h2,
h3 {
  color: light-dark(var(--light-title-color), var(--dark-title-color));
}

.normal-size-text {
  font-size: var(--normal-font-size);
}

.small-size-text {
  font-size: var(--small-font-size);
}

.smaller-size-text {
  font-size: var(--smaller-font-size);
}

.normal-color-text {
  color: light-dark(var(--light-text-color), var(--dark-text-color));
}

.light-color-text {
  color: light-dark(
    var(--light-text-color-light),
    var(--dark-text-color-light)
  );
}

.hover:hover {
  color: light-dark(var(--light-basic-link), var(--dark-basic-link));
}

.list {
  padding: 0 1rem;
  list-style: inherit;
}

#download-button {
  position: absolute;
  left: 16%;
  top: 10px;
}

#download-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .resume-section {
    flex-direction: column;
    width: fit-content;
    height: fit-content;
  }
  #download-button {
    left: 49%;
  }
}
